#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #019091;
}
#ext_menu-8 .mbr-navbar__section {
  background: #019091;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #018f90;
  font-size: 30px;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-13 .mbr-article P {
  text-align: center;
}
#msg-box4-10 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #ffffff;
}
#msg-box4-10 .mbr-article P {
  font-size: 17px;
}
#msg-box4-10 .mbr-article H2 {
  font-size: 25px;
  color: #ffffff;
}
#msg-box4-10 .mbr-article H3 {
  font-size: 17px;
  color: #ffffff;
}
#msg-box5-14 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-14 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-14 .mbr-article {
  color: #ffffff;
}
#msg-box5-14 .mbr-article P {
  font-size: 16px;
}
#msg-box5-14 .mbr-article H3 {
  color: #ffffff;
}
#testimonials1-4 .mbr-reviews__author-name {
  font-size: 20px;
}
#testimonials1-4 .mbr-section__header {
  color: #018f90;
}
#msg-box1-18 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-18 .mbr-article {
  color: #fff;
}
#features1-9 .mbr-section__col .mbr-header__text {
  color: #018f90;
  text-align: center;
}
#msg-box1-16 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-16 .mbr-article {
  color: #fff;
}
#features1-18 P {
  color: #252525;
}
#features1-18 .mbr-section__col .mbr-header__text {
  font-size: 20px;
  color: #252525;
}
#form1-14 .mbr-header__text {
  color: #019091;
  font-size: 36px;
}
#footer1-1 P {
  color: #ffffff;
}
#contacts1-12 P {
  color: #ffffff;
}
#form2-19 .mbr-header__text {
  color: #018f90;
}
#social-buttons1-2 .mbr-header__text {
  color: #019091;
  font-size: 25px;
  text-align: center;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #019091;
}
#ext_menu-8 .mbr-navbar__section {
  background: #019091;
}
#slider-29 H1 {
  color: #ffffff;
}
#slider-29 P {
  color: #ffffff;
}
#msg-box5-30 .mbr-header__text {
  color: #018f90;
}
#msg-box5-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-30 .mbr-article {
  color: #ffffff;
}
#msg-box5-30 .mbr-article P {
  color: #777777;
}
#msg-box5-31 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-31 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-31 .mbr-article {
  color: #ffffff;
}
#msg-box5-32 .mbr-header__text {
  color: #018f90;
}
#msg-box5-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-32 .mbr-article {
  color: #ffffff;
}
#msg-box5-32 .mbr-article P {
  color: #777777;
}
#msg-box3-33 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-33 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-33 .mbr-article P {
  color: #ffffff;
}
#msg-box3-34 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-34 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-12 P {
  color: #ffffff;
}
#form2-37 .mbr-header__text {
  color: #018f90;
}
#social-buttons1-38 .mbr-header__text {
  color: #018f90;
}
#footer1-1 P {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #019091;
}
#ext_menu-8 .mbr-navbar__section {
  background: #019091;
}
#video1-19 SMALL {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
#msg-box1-25 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-25 .mbr-article {
  color: #fff;
}
#contacts1-12 P {
  color: #ffffff;
}
#footer1-1 P {
  color: #ffffff;
}
#form2-23 .mbr-header__text {
  color: #018f90;
}
#social-buttons1-24 .mbr-header__text {
  color: #018f90;
}
